body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 15px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #ffebbb; /* Web sayfasının arka plan rengi */
    color: #d67cd0; /* Metin rengi */
}

h1 {
    color: #03a97d; /* Başlık rengi */
    font-size: 25px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h2 {
    color:rgb(1, 192, 221);
    font-size: 18px;
    font-family: Georgia, serif;
}